<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="keywords" content="官网">
  <meta name="description" content="官网">
  <title>官网</title>
  <!-- 引入css -->
  <link rel="stylesheet" type="text/css" href="/styles/userList.css" />
</head>

<body>
  <div class="app-container">
    <!-- header -->
    <div class="header-container">
      header
    </div>
    <!-- main -->
    <div class="main-container">
      main {{message}}
      {% for index, item in list.data %}
      <div class="userlist">{{index}} {{item.id}} {{item.name}}</div>
      {% endfor %}
    </div>
    <!-- footer -->
    <div class="footer-container">
      footer
    </div>
  </div>
</body>

<!-- 引用js -->
<script type="text/javascript" src="/assets/libs/jquery.min.js"></script>

<!-- 当前页面的js -->
<script type="text/javascript">
</script>

</html>